<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="login.css" type="text/css">
  <title>Login</title>
</head>

<body>
  <div class="box">
    <h2>Add Hero</h2>
    <form action="/add" method="POST">
      <div class="inputBox">
        <input type="text" name="name" required="">
        <label>Name</label>
      </div>
      <div class="inputBox">
        <input type="text" name="grade" required="">
        <label>Grade</label>
      </div>
      <input type="submit" name="" value="Submit">
    </form>
  </div>
</body>

</html>