<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="encyclopedia.css" type="text/css">
  <title>Encyclopedia</title>
</head>

<body>
  <a href="/add">Add Character</a>
  <div class="container">
    <div class="box">
      <div class="content">
        <h2><a href="/user/encyclopedia/SSR">SSR</a></h2>
      </div>
    </div>
    <div class="box">
      <div class="content">
        <h2><a href="/user/encyclopedia/SR">SR</a></h2>
      </div>
    </div>
    <div class="box">
      <div class="content">
        <h2><a href="/user/encyclopedia/R">R</a></h2>
      </div>
    </div>
    <div class="box">
      <div class="content">
        <h2><a href="/user/encyclopedia/UC">UC</a></h2>
      </div>
    </div>
    <div class="box">
      <div class="content">
        <h2><a href="/user/encyclopedia/C">C</a></h2>
      </div>
    </div>
  </div>
</body>

</html>