<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="gamble.css" type="text/css">
  <title>Gamble</title>
</head>

<body>
  <div class="container">
    <div class="card">
      <div class="face face1">
        <div class="content">
          <h3>Coin Toss</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Choose between heads or tails</p>
          <p>Ratio 1 : 2</p>
          <a href="#">Play</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
        <div class="content">
          <h3>Janken</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Rocks, Papers, or Scissors?</p>
          <p>Ratio 1 : 3</p>
          <a href="#">Play</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
        <div class="content">
          <h3>Guess a Card</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Choose how many cards you want to include (2-13), then guess one card</p>
          <p>Ratio 1 : 2 to 1 : 13</p>
          <a href="#">Play</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>