<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="login.css" type="text/css">
  <title>Login</title>
</head>

<body>
  <% if (err) { %>
  <p style="color: #08A045; text-align: center;"><%= err %></p>
  <% } %>
  <div class="box">
    <h2>Login</h2>
    <form action="/login" method="POST">
      <div class="inputBox">
        <input type="text" name="nickname" required="">
        <label>Nickname</label>
      </div>
      <div class="inputBox">
        <input type="password" name="password" required="">
        <label>Password</label>
      </div>
      <input type="submit" name="" value="Play">
    </form>
    <a href="/register">I dont have account</a>
  </div>
</body>

</html>