<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="promisedRoll.css" type="text/css">
  <title>Document</title>
</head>

<body>
  <a href="#"> <span> Your diamonds: <%= newData.diamond %> </span> </a>
  <a href="#"> <span> Selected Heroes: <%= data2.name %> </span> </a>
  <a href="#"><span>Rolls Left: <%= data2.count %> </span></a>
  <a href="/user/promisedRoll"><span>Roll 10: 300 diamonds</span></a>
  <a href="/user/rolls"> <span>Back to Roll</span> </a>
</body>
</body>

</html>