<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1><%= `${newData2.grade} - ${newData2.name}` %></h1>
  <h2>Your diamond: <%= newData.diamond - 30 %>
  </h2>
  <a href="/user/rolls">Back</a>
</body>

</html>