<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SSR Heroes</title>
</head>

<body>
  <h1>Super Super Rare Heroes</h1>
  <ul style="list-style: none;">
    <% ssr.map(x => { %>
    <li><%= x.name %></li>
    <span><a href="/edit/<%= x.id %>">Edit</a> </span>
    <span><a href="/delete/<%= x.id %>">Delete</a></span>
    <% }) %>
  </ul>
</body>

</html>